@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Signika:wght@300&display=swap');

body { 
    background-image: linear-gradient(#004B64, #00194B, #000);
    color: white;
    margin: 7rem;
}



.normal {
    font-family: Marck Script; font-size: 75px;
    animation-name: CHRISTMAS, CHRISTMAS_shadow;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    text-shadow: 0px 6px 7px red;
}

.krampus {
    font-family: Marck Script; font-size: 75px;
    animation-name: KRAMPU, KRAMPU_shadow;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    text-shadow: 0px 6px 7px darkred;
}

@keyframes CHRISTMAS {
    0% {color: red;}
    50% {color: green;}
    100% {color: red;}
}

@keyframes CHRISTMAS_shadow {
    0% {text-shadow: 0px 6px 7px red;}
    50% {text-shadow: 0px 6px 7px green;}
    100% {text-shadow: 0px 6px 7px red;}
}

@keyframes KRAMPU {
    0% {color: darkred;}
    50% {color: darkgreen;}
    100% {color: darkred;}
}

@keyframes KRAMPU_shadow {
    0% {text-shadow: 0px 6px 7px darkred;}
    50% {text-shadow: 0px 6px 7px darkgreen;}
    100% {text-shadow: 0px 6px 7px darkred;}
}

p {
    font-family: Signika;
}

a:link {
    color: red;
}

a:visited {
    color: red;
}

img {
    width: 35%;
    height: auto;
    border-radius: 50px;
}

@media (min-width: 800px) {
    
}